.nav
  position: absolute
  //float: right
  width: auto
  right: 10%
  //display: flex
  //justify-content:
  //background-color: red


  .links
    height: 74px
    width: 450px
    //display: flex
    //justify-content: center

  ul
    list-style: none
    display: flex
    align-items: center
    margin: 0

    li
      padding: 30px 10px

      a
        text-decoration: none
        color: #FFFFFF

        &:hover
          color: #FDFF00
          cursor: pointer
#lang2
  display: none

#lang
  margin-left: 30px
  background: transparent
  outline: none
  border: none
  color: white
  font-size: 1rem
  option
    color: black



@media (max-width: 768px)

  .nav ul
    display: none

  #lang
    display: none

  #lang2
    display: block
    button
      border: none
      background-color: transparent
      color: white
      padding: 10px
      cursor: pointer
      outline: none


